<!DOCTYPE html>
<html>
<head>
  <title>BasicEngine</title>
  <%= stylesheet_link_tag    "BasicEngine/application" %>
  <%= javascript_include_tag "BasicEngine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
